.tags-typo {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* .rating-typo {
  background-color: #66fcf1;
  background-color: #ffc107;
  padding: 6px 14px;
  width: fit-content;
  border-radius: 5px;
  cursor: default;
  color: black;
} */
