/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");   */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  height: 100%;
  background-color: #1d1d2d;
  background-color: #141a25;
  background-color: #2c2d45;
  /* background-image: linear-gradient(
    to right top,
    #45abe4,
    #409cd7,
    #3b8dc9,
    #387ebb,
    #356fad
  ); */

  background-color: #19192c;
  background-color: #121212;
  /* background-color: white; */
  color: #fdfcfc;

  background: #222222;
  background-color: #212529;
  background-color: #1d2227;
  color: #66fcf1;
  color: #11ff39;
  color: rgb(49, 223, 49);
  color: #ffffff;
}

/* font-family: "Roboto Slab", serif; */
